{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Principal{% endblock %}

{% block page_title %}Principal{% endblock page_title %}


{% block css %}
{% endblock css %}

{% block content %}

  <div class="row">
        <div class="col-md-12">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <div class="box-header">
                <h3 class="box-title">Detalles de la Solicitud Nº: {{ object.id}}</h3>
              </div>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Solicitante: </b> {{ object.empleado}}
                </li>
                <li class="list-group-item">
                  <b>Actividad a Realizar: </b> {{ object.actividad_a_realizar}}
                </li>
                <li class="list-group-item">
                  <b>Destino: </b> {{ object.destino}}
                </li>
                <li class="list-group-item">
                  <b>Fecha de salida: </b> {{ object.salida_fecha}}
                </li>
                <li class="list-group-item">
                  <b>Hora de salida: </b> {{ object.salida_hora}}
                </li>
                <li class="list-group-item">
                  <b>Fecha de llegada aproximada: </b> {{ object.llegada_fecha}}
                </li>
                <li class="list-group-item">
                  <b>Hora de llegada aproximada: </b> {{ object.llegada_hora}}
                </li>
                <li class="list-group-item">
                  <b>Número de ocupantes: </b> {{ object.n_ocupantes}}
                </li>
                <li class="list-group-item">
                  <b>Tipo de carretera: </b>
                  {% if object.carretera == 'P' %}
                    Pavimentada
                  {% else %}
                    De Tierra
                  {% endif %}
                </li>
                <li class="list-group-item">
                  <b>Tipo de carga: </b>
                  {% if object.carga == 'NO' %}
                    No Aplica
                  {% elif object.carga == 'ME' %}
                    Menor o igual a un metro cuadrado
                  {% else %}
                    Mayor a un metro cuadrado
                  {% endif %}
                </li>
                <li class="list-group-item">
                  <b>Observaciones: </b> {{ object.observaciones}}
                </li>
                <li class="list-group-item">
                  <b>Fecha de registro: </b> {{ object.fecha_reg}}
                </li>
                <li class="list-group-item">
                  <b>Fecha de actualización: </b> {{ object.fecha_act}}
                </li>
                <li class="list-group-item">
                  <b>Estado de la solicitud: </b>
                    {% if object.estado_solicitud == 'N' %}
                        Nuevo
                    {% elif object.estado_solicitud == 'A' %}
                        Asignado
                    {% elif object.estado_solicitud == 'E' %}
                        En Proceso
                    {% elif object.estado_solicitud == 'AN' %}
                        Anulada
                    {% elif object.estado_solicitud == 'F' %}
                       Finalizada
                    {% endif %} 
                </li>
                {% if asignacion %}
                <li class="list-group-item">
                  <b>Vehiculo asignado: </b> 
                  <br>
                  {{ asignacion.vehiculo|safe}}
                </li>
                <li class="list-group-item">
                  <b>Chofer asignado: </b> {{ asignacion.chofer|safe}}
                </li>
                {% endif %}
                {% if bitacoras %}
                <div class="box-header">
                  <h4 class="box-title">Bitácoras</h4>
                </div>
                <div class="box-body table-responsive ">
                  <table class="table table-hover">
                      <tr>
                          <th>Hora</th>
                          <th>Nivel de tanque de gasolina</th>
                          <th>Kilometraje</th>
                          <th>Observaciones</th>
                          <th>Entrada/Salida</th>
                          <th>Acciones</th>
                        </tr>
                        {% for bitacora in bitacoras %}
                            <tr>
                                <td>{{ bitacora.hora}}</td>
                                <td>{{ bitacora.nivel_tanque_gasolina }}</td>
                                <td>{{ bitacora.kilometraje }}</td>
                                <td>{{ bitacora.observaciones }}</td>
                                <td>
                                  {% if bitacora.entrada_salida == 'S' %}
                                    Salida
                                  {% elif bitacora.entrada_salida == 'E' %}
                                    Entrada
                                  {% endif %}
                                </td>
                                {% if not object.estado_solicitud == 'F' %}
                                <td>
                                  <div class="btn-group">
                                    Coloque el boton para crear<a href="{% url 'vehiculosapp:bitacoras_create' object.id asignacion.id %}"
                                       class="btn btn-info"
                                       title="Editar solicitud"><i class="fa fa-edit"></i></a>
                                    <a href="{% url 'vehiculosapp:bitacoras_delete' object.id asignacion.id bitacora.id %}"
                                       title="Eliminar"
                                       class="btn btn-danger"><i class="fa fa-remove"></i></a>
                                  </div>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                  </table>
                </div>
                {% endif %}

              </ul>
              {% if object.estado_solicitud == 'F' %}
                <a href="{% url 'vehiculosapp:solicitudes_list' %}" class="btn btn-primary"><i class="fa fa-reply"></i> Regresar al listado</a>
              {% else %}
                <a href="{% url 'vehiculosapp:solicitudes_list' %}" class="btn btn-primary"><i class="fa fa-reply"></i> Regresar al listado</a>
                {% for group in user.groups.all %}
                    {% if group.name == 'Transporte' %}
                      {% if not asignacion %}
                        <a href="{% url 'vehiculosapp:asignaciones_create' object.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> Añadir Asignación</a>
                      {% else %}
                        <a href="{% url 'vehiculosapp:asignaciones_update' object.id asignacion.id %}" class="btn btn-primary"><i class="fa fa-refresh"></i> Modificar Asignación</a>
                        <a href="{% url 'vehiculosapp:asignaciones_delete' object.id asignacion.id %}" class="btn btn-primary"><i class="fa fa-close"></i> Eliminar Asignación</a>
                        <a href="{% url 'vehiculosapp:bitacoras_create' object.id asignacion.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> Añadir Bitácora</a>
                        no sirve el boton de modificacion de bitacoras
                        {% comment %}
                        {% if bitacoras %}
                          <a href="{% url 'vehiculosapp:bitacoras_update' object.id asignacion.id bitacoras.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> Modificar Bitácora</a>
                        {% endif %}
                        {% endcomment %}
                      {% endif %}
                      <a href="{% url 'vehiculosapp:solicitudes_anular' object.id %}" class="btn btn-danger"><i class="fa fa-ban"></i> Anular Solicitud</a>
                    {% endif %}
                {% endfor %}
              {% endif %}


            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
  </div>


</div>
{% endblock content %}

