{% extends "base.html" %}
{% load static i18n %}
{% block title %}Usuarios Intranet{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins\datatables\dataTables.bootstrap.min.css' %}">
{% endblock css %}

{% block content-header %}
    <h1>
        {{ page.title }}
        <small>{{ page.subtitle }}</small>
    </h1>
{% endblock content-header %}


{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-xs-11">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Listado de Solicitudes de Vehiculos CIDA</h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                        <div class="box-body">

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="REndering engine; activate to sort column descending" style="width: 130px;" aria-sort="ascending">Solicitante
                                </th>
                                <th>Actividad a realizar</th>
                                <th>Fecha de salida</th>
                                <th>Fecha de llegada</th>
                                <th>Estado de la solicitud</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sol in solicitudes_list %}
                                <tr>
                                    <td>{{ sol.empleado }}</td>
                                    <td>{{ sol.actividad_a_realizar }}</td>
                                    <td>{{ sol.salida_fecha }}</td>
                                    <td>{{ sol.llegada_fecha }}</td>
                                    <td>
                                        {% if sol.estado_solicitud == 'N' %}
                                            <span class="label label-success">Nuevo</span><br>
                                        {% elif sol.estado_solicitud == 'A' %}
                                            <span class="label label-primary">Asignado</span><br>
                                            <b>Asignación:</b><br>
                                            {{sol.get_asignacion|safe}}
                                        {% elif sol.estado_solicitud == 'E' %}
                                            <span class="label label-info">En Proceso</span><br>
                                            <b>Asignación:</b><br>
                                            {{sol.get_asignacion|safe}}
                                            <br><b>Bitácoras:</b><br>
                                            
                                                {{sol.get_bitacora|safe}}
                                            
                                        {% elif sol.estado_solicitud == 'AN' %}
                                            <span class="label label-danger">Anulada</span><br>
                                        {% elif sol.estado_solicitud == 'F' %}
                                            <span class="label label-default">Finalizada</span><br>
                                        {% endif %} 

                                    </td>
                                            <td>
                                                <div class="btn-group">

                                                    <a href="{% url 'vehiculosapp:solicitudes_update' sol.id %}"
                                                       class="btn btn-info"
                                                       title="Editar solicitud"><i class="fa fa-edit"></i></a>
                                                    <a href="{% url 'vehiculosapp:solicitudes_view' sol.id %}"
                                                       title="Ver solicitud"
                                                       class="btn btn-info"><i class="fa fa-eye"></i></a>
                                                    <a href="{% url 'vehiculosapp:solicitudes_delete' sol.id %}"
                                                       title="Eliminar"
                                                       class="btn btn-warning"><i class="fa fa-remove"></i></a>

                                                </div>
                                            </td>

                                </tr>
                            {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Solicitante</th>
                                        <th>Actividad a realizar</th>
                                        <th>Fecha de salida</th>
                                        <th>Fecha de llegada</th>
                                        <th>Estado de la solicitud</th>
                                        <th>Acción</th>
                                    </tr>
                                </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

    </div>
{% endblock content %}


{% block js %}

    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

    <script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : false,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : false
        })
    })
</script>

{% endblock js %}