{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edición de datos de la Bitácora{% endblock %}

{% block content-header %}
    <h1>
        {{ page.title }}
        <small>{{ page.subtitle }}</small>
    </h1>
{% endblock content-header %}


{% block content %}

    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Bitácora</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Id: </b> {{ solicitud.id }}
                </li>
                <li class="list-group-item">
                  <b>Solicitante: </b> {{ solicitud.empleado}}
                </li>
                <li class="list-group-item">
                  <b>Actividad a Realizar: </b> {{ solicitud.actividad_a_realizar}}
                </li>
                <li class="list-group-item">
                  <b>Destino: </b> {{ solicitud.destino}}
                </li>
                <li class="list-group-item">
                  <b>Fecha de salida: </b> {{ solicitud.salida_fecha}}
                </li>
                <li class="list-group-item">
                  <b>Hora de salida: </b> {{ solicitud.salida_hora}}
                </li>
                <li class="list-group-item">
                  <b>Fecha de llegada aproximada: </b> {{ solicitud.llegada_fecha}}
                </li>
                <li class="list-group-item">
                  <b>Hora de llegada aproximada: </b> {{ solicitud.llegada_hora}}
                </li>
                <li class="list-group-item">
                  <b>Número de ocupantes: </b> {{ solicitud.n_ocupantes}}
                </li>
                <li class="list-group-item">
                  <b>Tipo de carretera: </b>
                  {% if solicitud.carretera == 'P' %}
                    Pavimentada
                  {% else %}
                    De Tierra
                  {% endif %}
                </li>
                <li class="list-group-item">
                  <b>Tipo de carga: </b>
                  {% if solicitud.carga == 'NO' %}
                    No Aplica
                  {% elif solicitud.carga == 'ME' %}
                    Menor o igual a un metro cuadrado
                  {% else %}
                    Mayor a un metro cuadrado
                  {% endif %}
                </li>
                <li class="list-group-item">
                  <b>Observaciones: </b> {{ solicitud.observaciones}}
                </li>
                <li class="list-group-item">
                  <b>Fecha de registro: </b> {{ solicitud.fecha_reg}}
                </li>
                <li class="list-group-item">
                  <b>Fecha de actualización: </b> {{ solicitud.fecha_act}}
                </li>
                <li class="list-group-item">
                  <b>Estado de la solicitud: </b> Asignada
                </li>
                <li class="list-group-item">
                  <b>Vehiculo asignado: </b><br>
                  {{ asignacion.vehiculo|safe}}
                </li>
                <li class="list-group-item">
                  <b>Chofer asignado: </b> {{ asignacion.chofer|safe}}
                </li>

            </ul>

                <div class="box-body">
                    <form role="form"  method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-success" type="submit">
                                    <i class="icon-ok icon-white"></i> Grabar
                                </button>

                                <a href="{% url 'vehiculosapp:solicitudes_list' %}" class="btn btn-primary"><i
                                        class="fa clip-arrow-left-3"></i> Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
