
<li class="treeview">
  <a href="#">
    <i class="fa fa-folder"></i> <span>Departamento de Transporte</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="{% url 'vehiculosapp:solicitudes_list' %}"><i class="fa fa-circle-o"></i>Listado de Solicitudes</a></li>
    <li><a href="{% url 'vehiculosapp:asignaciones_list' %}"><i class="fa fa-circle-o"></i>Listado de Asignaciones</a></li>
    <li><a href="{% url 'vehiculosapp:bitacoras_list' %}"><i class="fa fa-circle-o"></i>Listado de Bitácoras</a></li>
    <li><a href="{% url 'vehiculosapp:vehiculos_list' %}"><i class="fa fa-circle-o"></i>Listado de Vehículos</a></li>
    <li><a href="{% url 'vehiculosapp:choferes_list' %}"><i class="fa fa-circle-o"></i>Listado de Choferes</a></li>
  </ul>
</li>


